/*Container*/

.carousel-container {
   display:flex;
   overflow: hidden;
   width: 100%;
   height: 200px;
justify-content:center;
padding: 2rem 0;
}

.carousel-items {
display: flex;
  gap: 1rem;
  cursor: grab;
}

.carousel-image-wrapper {
    min-width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;

}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}